name: mfps
description: "A mfps Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.1
  go_router: ^17.0.1
  google_fonts: ^6.3.3
  riverpod: ^2.5.1
  state_notifier: ^1.0.0
  dio: ^5.7.0
  fl_chart: ^0.69.0
  web_socket_channel: ^2.4.0
  flutter_secure_storage: ^9.2.2
  http: ^1.2.2
  flutter_blue_plus: ^1.35.0   # 예시(버전에 맞게)
  permission_handler: ^11.3.1  # 예시(버전에 맞게)

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  flutter_native_splash: ^2.3.10

flutter:
  assets:
    - assets/
    - assets/icons/
    - assets/images/

  uses-material-design: true

# 스플래시 스크린 설정
flutter_native_splash:
  color: "#FFFFFF"  # 배경색
  image: assets/images/mfps_s_logo.png  # 로고 이미지 (선택사항)
  color_dark: "#FFFFFF"  # 다크모드 배경색
  image_dark: assets/images/mfps_s_logo.png  # 로고 이미지 (선택사항)
  # 안드로이드 설정 추가
  android_12:
    color: "#FFFFFF"
    image: assets/images/mfps_s_logo.png
    color_dark: "#FFFFFF"
    image_dark: assets/images/mfps_s_logo.png
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
